@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  width: 960px;
}
@media only screen and (min-width: 1440px) {
  .container {
    width: 70%;
  }
}
@media only screen and (max-width: 960px) {
  .container {
    width: 100%;
    margin: 2px;
  }
}
input.visited,
select.visited {
  @apply border-black;
  @apply text-black;
}
.show-hide-content {
  height: 0;
  overflow: hidden;
  transition: height 0.3s ease-in-out;
}
.section {
  @apply w-80 flex flex-col justify-start p-3;
}
.section-name {
  @apply text-2xl font-bold flex items-center justify-center h-full w-fit;
}
.display-state-button {
  @apply text-lg text-center p-1 m-1 ml-5 border-bg-info border-2 rounded-2xl hover:bg-bg-info/30;
}
input[type="text"] {
  @apply w-24 h-12 pl-2 text-xl border-2 border-bg-info rounded-2xl rounded-l-3xl flex-1 hover:bg-bg-info/25;
}
input[type="checkbox"] {
  @apply h-12 w-12 mr-4 text-xl border-2 border-bg-info rounded-2xl bg-transparent hover:bg-bg-info/25;
  -webkit-appearance: none;
  position: relative;
}
input[type="checkbox"]::before {
  @apply text-3xl absolute text-bg-info;
  content: "+";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
input[type="checkbox"]:disabled {
  @apply bg-bg-info/30;
}
input[type="checkbox"]:checked {
  @apply bg-top-agrar-green/25;
}
.space {
  @apply w-10/12 border-t-2 border-bg-info m-auto;
}
@media only screen and (max-width: 425px) {
  .space {
    width: 97.5%;
  }
}
